<mat-card>
    <mat-card-header>
        <mat-card-title>Registration Details</mat-card-title>
    </mat-card-header>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Ex. John">
        </mat-form-field>
        <br><br>
        <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Ex. A">
        </mat-form-field>
        <br><br>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. abc@abc.com">
        </mat-form-field>
        <br><br>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Ex. Password">
        </mat-form-field>
        <br><br>
        <button mat-raised-button color="warn">Register</button>
        <button mat-raised-button color="warn">Cancel</button>
    </form>
</mat-card>